@page "/blog"
@layout BlogLayout

<Card Title="Welcome to the Blog!" SubTitle="Introductory Self">
    <p>
        Welcome to the dumping grounds of my thoughts and experiments, I hope to add a lot more content here as I gain more and more knowledge about the world of technology. And I hope you find this beneficial too, even if it is to just solve that one exception that won't stop coming up!
    </p>

    <p>
        Daniel Fitz
    </p>
</Card>