.page {
    width: 100vw;
    min-height: 100vh;
}

.page.float-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    padding: 20px;

    > div {
        max-width: 600px;
    }
}
