@page "/"
@namespace Aelgi.Engine.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aelgi.Engine</title>
    <base href="~/" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/Torch.png" />
    <meta name="theme-color" content="#000000" />

    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
