@page "/"
@layout HomeLayout

<div>
    <h1>Hello, world!</h1>

    <p>
        This is my neat little project I am working on which is a pilot for seeing how well matured Blazor is and if it can be used in a real world situation. Currently only a blog feature is available here but I plan to add a lot more as time progresses. Enjoy and welcome to Aelgi.Engine, if you would like to find out more or contribute please visit <a href="https://github.com/aelgi/Aelgi.Engine">Aelgi.Engine Github Page</a> and leave a star.
    </p>

    <a class="block" href="https://github.com/aelgi/Aelgi.Engine">GitHub</a>
    <a class="block" href="/blog">Blog</a>
</div>
