@inherits LayoutComponentBase

<div class="page">
    <NavBar Title="Aelgi Blog">
        <a href="/">Aelgi Engine</a>
    </NavBar>
    <main class="container">
        <section>
            @Body
        </section>
        <aside>
            <ul>
                <li><a href="/blog/Aelgi">Alegi Goals</a></li>
            </ul>
        </aside>
    </main>
</div>